*{
	margin: 0;
	padding: 0;
}
.error {
	color: red;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #fff;
}
.header-hello, .header-grado_grupo {
	font-size: 20px;
	color: gray;
}
/*Estilos del logo*/
.est {
	display: flex;
	justify-content: space-between;
	padding:5px 0 5px 0;
	background: #fff;
}
.est-logo, .est-txt {
	width: 100%;
}
.est-logo {
	width: 60px;
	margin-right: 5px;
}
.est-txt {
	font-size: 13px;
	margin-top: 10px;
	color: rgb(150,0,0);
}

/*Estilos del banner*/

.banner {
	background-image: url(../img/covid.jpg);
	background-attachment: fixed;
	background-size: 490px 90%;
	height: 300px;
	margin-bottom: 20px;
}
.banner-links {
	transform: translateY(271px);
	width: 168px;
	margin: auto;
}

.banner__link {
	color: #fff;
	text-decoration: none;
	background: 0;
	padding: 10px;
	transition: all .3s;
}

.banner__link-left-covid {
	margin-left: -12px;
}

.banner__link-right-inicio {
	margin-right: -12px;
}

.select {
	color: #000;
	background: #fff;
}
.gray {
	background: #DBDBDB;
}
.banner__link:hover {
	background: #c33333;
	color: #fff;
}

/*Estilos del menu*/

.logo {
	display: none;
	text-align: center;
	background: rgb(145,0,145);
	color: #fff;
	padding: 8px;
	margin-bottom: 10px;
}

.icon-bars {
	display: block;
	color: #fff;
	font-size: 1.5em;
	border:1px solid #fff;
	border-radius: 3px;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	line-height: 45px;
	float:right;
	margin-top: 7px;
	margin-right: 7px;
}

.menu {
	display: block;
	list-style: none;
	position: absolute;
	width: 100%;
	margin-top: 55px;
	left:-100%;
	transition: all 0.3s;
}
.menu-perfil {
	display: flex;
}
.menu-perfil-img {
	width: 43px;
	height: 43px;
	border-radius: 50%;
}
.menu-perfil-p {
	margin-top: 8px;
	margin-left: 10px;
	font-size: 15px;
}
.menu__item {
	background: #eee;
	display: block;
	text-decoration: none;
	color: #000;
	border-radius: 7px;
	padding: 10px;
	cursor: pointer;
}

.menu__item:hover {
	background: #DBDBDB;
}

.menu2 {
	transform: translateY(-10px);
	z-index: -1;
	opacity: 0;
	list-style: none;
	position: absolute;
	width: 88%;
	margin-top: 7px;
	transition: all .5s;
	background: #eee;
	border-radius: 7px;
}
.show-submenu {
	transform: translateY(0);
	z-index: 1;
	opacity: 1;
}
.menu__item2 {
	width: 100%;
}
.menu__link2 {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 10px;
	cursor: pointer;	
}

.menu__link2:hover {
	background: #DBDBDB;
	border-radius: 7px;
}


.show {
	left: 0;
}

/*Sección de las tareas*/

.section-homework {
	overflow: hidden;
}

.perfil__teacher {
	display: flex;
}

.perfil__teacher-img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.perfil__teacher-name {
	margin-left: 10px;
}

/*Contenido de tareas*/

.homework {
	background: skyblue;
	padding: 10px;
	margin-bottom: 40px;
	border-radius: 20px;
	border-top-left-radius: 0;
}
.homework-title {
	font-size: 22px;
	color: rgba(180,0,0,.8);
}

.homework-date {
	font-size: 14px;
	font-weight: normal;
	color: gray;
	margin-bottom: 10px;
}
.homework-commenter {
	margin-bottom: 10px;
}
.homework-link {
	width: 265px;
	margin-bottom: 10px;
}
.homework-video, .homework-img,
.homework-audio {
	width: 270px;
	height: 100%;
	margin-bottom: 10px;
}
.homework-pdf {
	text-decoration: none;
	background: rgb(225,0,0);
	color: #fff;
	border-radius: 3px;
	padding: 5px;
	font-family: Calibri;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}
/*Envio de tareas - alumnos*/

.alumno__homework {
	margin: 3px;
}

.alumno__homework-perfil {
	display: flex;
}

.alumno__homework-img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
}

.alumno__homework-name {
	margin-left: 12px;
}
/*Contenedor comentario*/
.alumno__homework-comment {
	margin-top: -15px;
	width: 75%;
	float: right;
}
.alumno__homework-commenter {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 80px;
	min-height: 60px;
	max-height: 140px;
	border:1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;
	font-family: 'Montserrat';
	font-size: 15px;
}
.pdf-label-name {
	margin-bottom: -13px;
}
.pdf-label {
	font-size: 14px;
	background: rgb(220,0,0);
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}
.pdf-label:hover {
	background: rgb(235,0,0);
}
.alumno__homework-form input[type="file"] {
	display: none;
	margin-bottom: 10px;
}
.alumno__homework-form input[type="submit"] {
	background: rgba(180,0,0,.8);
	color: #fff;
	padding: 5px;
	border:0;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer;
	margin-top: -20px;
	margin-bottom: 10px;
	float: right;
}
.alumno__homework-form input[type="submit"]:hover {
	background: rgba(200,0,0,.8);
}

.alumno__homework-form input[type="file"] {
	width: 100%;
	margin-bottom: 10px;
}
.enviada, .no_enviada {
	font-size: 14px;
	color: gray;
	margin-top: 10px;
}
.line-hr {
	margin-bottom: 20px;
}
/*Paginación*/
	   .active > .pag-link{
	   	background: rgb(120,120,120);
	   }
	  .paginacion {
	  	margin: 15px auto;
	  	text-align: center;
	  }

      ul > li{
      	list-style: none;
      	display: inline-block;
      	margin-right:7px;
      }
      ul > li > .pag-link {
      	color: #FFFFFF;
      	text-decoration: none;
      	padding: 10px 17px 10px 17px;
        display: block;
		background: brown; /* Old browsers */
		border-radius: 10px;
      }

/*Estilos del footer*/

.footer-content {
	width: 100%;
	font-size: 13px;
	background: #444;
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
}

@media screen and (min-width: 480px) {
	/*Estilos del logo*/
	.est-logo {
		width: 80px;
		margin-right: 15px;
	}
	.est-txt {
		margin-top: 16px;
		font-size: 18px;
	}
	/* Estilos del menu */
	.menu {
		width: 70%;
	}
	/*Estilos del banner*/
	.banner {
		background-size: 100% 100%;
	}
	/*Estilo de las tareas*/
	.homework-link {
		width: 99%;
		height: 250px;
	}
	.homework-video,.homework-img,
	.homework-audio {
		width: 100%;
	}
	.homework {
		padding: 20px;
	}

	.alumno__homework {
		width: 90%;
		margin:auto;
	}
	.alumno__homework-comment {
		width: 85%;
	}
	.alumno__homework-form input[type="submit"] {
		padding: 8px;
		font-size: 16px;
	}
	.footer-content {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
	/* Estilos del menu */
	.menu {
		width: 43%;
	}
	.homework-link {
		height: 350px;
	}
	.alumno__homework-comment {
		width: 90%;
	}
	.alumno__homework {
		width: 80%;
	}
	.alumno__homework-form input[type="submit"] {
		padding: 12px;
		border-radius: 7px;
	}
}
@media screen and (min-width: 1024px) {
	.container {
		width: 1000px;
		margin: auto;
	}
	.header, .est {
		display: none;
	}
	/*Estilos del menu*/
	.nav {
		display: flex;
		justify-content: space-between;
		background: none;
	}
	.icon-bars {
		display: none;
	}
	.logo {
		display: block;
		margin: 0;
		font-size: 22px;
		padding: 0;
		text-align: left;
		background: 0;
		margin-top: 10px;
	}
	.menu {
		position: relative;
		left: 0;
		margin-top: 0;
		width: 30%;
	}
	.menu__item {
		background: 0;
		color: #fff;
	}
	.menu__item:hover {
		background: 0;
	}
	.menu2 {
		position: absolute;
		list-style: none;
		width: 65%;
	}
	.menu2 li a {
		background: ;
	}
	/*Estilos del banner*/
	.banner {
		background-size: 80% 100%;
		margin-top: -67px;
		height: 200px;
	}
    .banner-links {
    	transform: translateY(171px);
	    margin-right: 120px;
    }
	.alumno__homework-comment {
		width: 90%;
	}
	.alumno__homework {
		width: 65%;
	}
	.homework {
		width: 85%;
		margin: auto;
		margin-bottom: 20px;
	}
}
@media screen and (min-width: 1600px) {
	.logo {
		font-size: 24px;
	}
	.menu {
		width: 20%;
	}
	.menu__item {
		background: 0;
	}
	.menu-perfil-img {
		width: 47px;
		height: 47px;
	}
	.menu-perfil-p {
		font-size: 16px;
	}
	.banner-links {
		transform: translateY(166px);
		width: 190px;
		margin-right: 160px;
	}
	.banner__link {
		padding: 15px;
	}
	.footer-content {
		font-size: 16px;
	}
}