.error {
	color: red;
	text-align: left;
	font-size: 14px;
}
.msg {
	margin: auto;
	margin-top: 5px;
	text-align: center;
	padding: 10px;
	background: rgb(0,172,0);
	color: #fff;
	border:1px solid rgb(0,130,0);
	width: 85%;
}
.new__pass-header {
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-bottom: 20px;
	width: 90%;
}
.new__pass-header-img {
	width: 80px;
}
.new__pass-header-title {
	width: 100%;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 15px;
	color: rgb(180,0,0);
}

.form-new__password {
	margin: auto;
	margin-top: 10px;
	width: 90%;
	padding: 15px;
	box-sizing: border-box;
	border:1px solid rgb(0,150,0);
	border-left: 5px solid rgb(0,150,0);
}
.form-new__password input {
	box-sizing: border-box;
	width: 100%;
	height: 33px;
	border:1px solid #ccc;
	padding: 3px;
	margin-bottom: 10px;
}
.form-new__password input[type="password"] {
	margin-top: 3px;
}
.form-new__password input[type="submit"] {
	cursor: pointer;
	background: rgb(0,150,0);
	color: #fff;
	border:0;
	font-size: 14px;
}
.form-new__password input[type="submit"]:hover {
	background: rgb(0,160,0);
}
@media screen and (min-width: 480px) {
	.form-new__password {
		width: 80%;
		padding: 20px;
	}
	.new__pass-header {
		width: 80%;
	}
	.new__pass-header-title {
		font-size: 20px;
	}
}
@media screen and (min-width: 768px) {
	.form-new__password {
		width: 70%;
		padding: 25px;
	}
	.new__pass-header {
		width: 95%;
		margin-top: 10px;
	}
	.new__pass-header-img {
		width: 65px;
	}
	.new__pass-header-title {
		font-size: 20px;
	}
}
@media screen and (min-width: 1024px) {
	.form-new__password {
		width: 45%;
	}
}
@media screen and (min-width: 1600px) {
	.new__pass-header {
		width: 90%;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.form-new__password {
		width: 27%;
		padding: 27px;
	}
	.form-new__password input,
	.form-new__password input[type="submit"] {
		height: 37px;
		font-size: 16px;
	}
	.form-new__password label {
		font-size: 17px;
	}
}