.error {
	color: red;
	text-align: left;
}
.container {
	width: 100%;
	margin: auto;
}
body {
	background: #FAFAFA;
}
/*Estilos de los botones*/
.edit_perfil-flex {
	display: flex;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 20px;
}
.edit_perfil-buttons {
	width: 100px;
}
.btn_edit, .btn_pass {
	width: 100%;
	background: #fff;
	padding: 18px;
	font-size: 14px;
	border:1px solid #DBDBDB;
	cursor: pointer;
}
.btn_pass {
	border-left: 3px solid #444;
	font-weight: bold;
}
.btn_edit:hover {
	border-left: 3px solid #ccc;
}
/*Estilos del formulario*/
.form__teacher-title {
	font-size: 20px;
	color: rgba(180,0,0,.8);
	text-align: center;
	margin: 7px 0 17px 0;
}
.form__teacher {
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	background: #fff;
	border:1px solid #DBDBDB;
}

.form__teacher input[type="password"],
.form__teacher input[type="submit"] {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 3px;
	box-sizing: border-box;
}

.form__teacher input[type="submit"] {
	background: rgba(180,0,0,.8);
	color: #fff;
	font-size: 15px;
	border: 0;
}

.form__teacher input[type="submit"]:hover {
	background: rgba(200,0,0,.8);
	cursor: pointer;
}
@media screen and (min-width: 480px) {
	.edit_perfil-flex {
		width: 90%;
		margin: auto;
		margin-top: 60px;
		margin-bottom: 20px;
	}
	.edit_perfil-buttons {
		width: 200px;
	}
	.btn_edit, .btn_pass {
		padding: 25px;
	}
	.form__teacher {
		padding: 20px;
	}
}

@media screen and (min-width: 768px) {
	.edit_perfil-flex {
		width: 65%;
	}
	.form__teacher {
		padding: 25px;
	}
	.btn_edit, .btn_pass {
		font-size: 16px;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		width: 1000px;
		margin: auto;
	}
	/*Estilo de los botones*/
	.edit_perfil-flex {
		width: 60%;
	}
	.edit_perfil-buttons {
		width: 300px;
	}
	.btn_edit, .btn_pass {
		padding: 30px;
	}
	/*Estilo del formulario*/
	.form__teacher {
		padding: 35px;
	}
	.form__teacher-title {
		font-size: 24px;
	}
}

@media screen and (min-width: 1600px) {
	.btn_edit, .btn_pass {
		font-size: 17px;
	}

	.form__teacher label {
		font-size: 17px;
	}

	.form__teacher input[type="password"],
	.form__teacher input[type="submit"] {
		height: 35px;
		font-size: 16px;
	}
}